*{
    margin: 0%;
    padding: 0%;
}

.head-part h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    color: rgb(11 111 206);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 100px;
}

.each-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.4s;
    height: 100%;
}

.each-card .photo-part{
    width: 100%;
    height: 300px;
}

.each-card .photo-part img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.each-card .photo-part span{
    position: relative;
    color: white;
    font-size: 15px;
    bottom: 270px;
    margin-right: 70px;
    padding: 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 800;
}

a{
    text-decoration: none;
}

.about-part{
    margin-left: 20px;
    margin-right: 20px;
}

.person-part{
    display: flex;
}

.person-part .photo{
    width: 100px;
    height: 100px;
    border-radius: 200px;
}

.person-part .photo img{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.person-part .infos{
    position: relative;
    left: 40px;
}

.about-part p{
    color: rgb(114, 114, 114);
    font-size: 20px;
}

.infos p{
    color:rgb(114 114 114);
}

.each-card:hover{
    transform: scale(1.05);
    transition: 0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}